
@{
    ViewData["Title"] = "Index";
}
@model CarDealership.Models.IndexViewModel

<h2>Index</h2>

<h3>@Model.Car.Year @Model.Car.Make @Model.Car.Model</h3>
<p>MPG: @Model.Car.MPG</p>
<p>Car Type: @Model.Car.Type</p>

Skillshare Class: Learning .NET Core
Each class will have a branch associated to it. To get all the code up to that point in the class, simply select the branch that shares the name of the class that you are in and download the project while on that branch.

You can find me on skill share here: